.rosa{background:#ed037c}.amarelo{background:#fff200}.similares-concept p,.similares-concept span{color:#722d81 !important}.concept{color:#000 !important}.concept .txt-banner p,.concept .txt-banner span{color:#722d81 !important}.concept-bullets .dimensoes{color:#722d81 !important}.concept-bullets .dimensoes span{color:#722d81 !important}.concept-bullets .pisos span{color:#722d81 !important}.concept-bullets .cores{color:#722d81 !important}.concept-bullets .four ul li p,.concept-bullets .four ul li span{color:#722d81 !important}nav#nav-main ul{position:absolute;margin:0;list-style:none;float:right;right:0;top:2px}nav#nav-main li{display:inline-block;padding:5px 10px;position:relative}nav#nav-main li:hover>ul{display:block}nav#nav-main ul ul{position:absolute;display:none;margin:0;padding:40px 25px 16px;text-align:left;background:#00c4b3;width:160px;top:54px;left:-5px}nav#nav-main ul ul li{padding:0px;margin-bottom:10px}nav#nav-main ul ul li a{border-radius:0px;padding:0px}nav#nav-main ul ul li a:hover{background:transparent}nav#nav-main ul ul li{display:block}.banner-copa{background:url(../images/banner-copa.jpg) no-repeat scroll center center;background-size:cover;float:left;position:relative;width:100%;height:425px}.banner-copa .txt-banner p{color:#fff}.banner-copa .txt-banner span{color:#fff200}.banner-copa .img-copa{display:block;width:400px;position:absolute;right:0;top:-98px}.verde-copa{background:#007943;position:relative;float:left;width:100%}.verde-copa::after,.verde-copa::before{content:'';background:#fff200;position:absolute;left:0px;top:0px;height:10px;width:100%}.verde-copa::before{top:311px}.verde-copa .column-3{width:18%}.verde-copa .txt-intro{color:#fff200}.floatLeft{position:relative;float:left;width:100%}.vassoura-copa .four ul li p,.vassoura-copa .four ul li span{color:#007942 !important}.vassoura-copa .selos-vassoura img{width:auto !important}.vassoura-copa .esp-copa span,.vassoura-copa .esp-copa p{color:#007942 !important}.azul-copa{background:#143db3}footer{position:relative;float:left;width:100%}.img-banner img{max-width:100%}#interna .selo-intro img{width:auto}#similares .four p{text-transform:uppercase !important}@media only screen and (max-width: 992px){ul ul,ul ol,ol ol,ol ul{margin:0rem !important;font-size:90%}.rodos .mid .center span{display:inline-block;vertical-align:initial;width:82%;padding-left:20px;padding-right:20px;text-align:center;font-weight:700;text-transform:uppercase;margin:20px 0}nav#nav-mobile li{display:inline-block;width:100%;margin:0}nav#nav-mobile ul{display:none;list-style-type:none;position:relative;left:0;right:0;margin-left:auto;margin-right:auto;text-align:center;padding-bottom:0px;padding-top:0px}nav#nav-mobile a{display:block;font:1em "plutoregular", Lucida, Verdana, sans-serif;text-decoration:none;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;padding:5px 0px;color:#ffffff;text-transform:uppercase}.banner-copa .img-copa{top:-58px;max-width:250px;right:auto;left:auto;width:270px;display:inline-block;margin:0 auto;position:relative;left:50%;margin-left:-118px}.banner-copa .img-copa img{max-width:100%}.banner-copa .txt-banner{padding:30px 0 100px;width:100%;top:-83px;position:relative;text-align:center}.verde-copa{text-align:center}.verde-copa::before{top:auto;bottom:0}.verde-copa .selo-align .selo-intro{max-width:230px;width:230px !important;left:auto !important;margin:auto !important;display:inline-block !important;float:none !important}}

/* .modal{
	position: fixed;
	transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
	width: 100%;
	bottom: 0;
	left: 0;
	height: 240px;
	z-index: 4;
}

.modal__overlay {
	background-color: #000;
	opacity: 0.75;
	width: 100%;
	height: 100%;
	position: absolute;
}

.modal__content {
	position: absolute;
	background-color: #F1F1F1;
	padding: 25px 5vw 32px;
	transition: $transition-fast;
	box-sizing: border-box;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
} */

.modal {
	position: fixed;
	left: 0;
	top: -200%;
	width: 100%;
	height: 100%;
	z-index: 9999;
	transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.modal.active {
	top: 0;
}

.modal__overlay {
	background-color: #000;
	opacity: 0.9;
	width: 100%;
	height: 100%;
	position: absolute;
}

.modal__content {
	position: absolute;
	width: 90%;
	max-width: 706px;
	top: -300%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.modal__content img{
	width: 100%;
}

.modal__content p{
position: absolute;
    float: right;
    width: 40px;
    height: 40px;
    right: 44px;
    top: 26px;
    cursor: pointer;
    z-index: 1000;
}

.modal__content.active {
	top: 50%;
}