    @font-face {
    font-family: 'plutobold';
    src: url('../fonts/plutobold.woff2') format('woff2'), url('../fonts/plutobold.woff') format('woff'), url('../fonts/plutobold.svg#plutobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'plutolight';
    src: url('../fonts/plutolight.woff2') format('woff2'), url('../fonts/plutolight.woff') format('woff'), url('../fonts/plutolight.svg#plutolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'plutoregular';
    src: url('../fonts/plutoregular.woff2') format('woff2'), url('../fonts/plutoregular.woff') format('woff'), url('../fonts/plutoregular.svg#plutoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'plutoextralight';
    src: url('../fonts/plutoextralight.woff2') format('woff2'), url('../fonts/plutoextralight.woff') format('woff'), url('../fonts/plutoextralight.svg#plutoextralight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'plutothin';
    src: url('../fonts/plutothin.woff2') format('woff2'), url('../fonts/plutothin.woff') format('woff'), url('../fonts/plutothin.svg#plutothin') format('svg');
    font-weight: normal;
    font-style: normal;
}

.grad-pink {
    background: rgb(237, 3, 124);
    background: -moz-linear-gradient(left, rgb(237, 3, 124) 0%, rgb(106, 47, 138) 100%);
    background: -webkit-linear-gradient(left, rgb(237, 3, 124) 0%, rgb(106, 47, 138) 100%);
    background: linear-gradient(to right, rgb(237, 3, 124) 0%, rgb(106, 47, 138) 100%);
}

.grad-lemon {
    background: rgb(112, 191, 84);
    background: -moz-linear-gradient(left, rgb(112, 191, 84) 0%, rgb(0, 174, 142) 100%);
    background: -webkit-linear-gradient(left, rgb(112, 191, 84) 0%, rgb(0, 174, 142) 100%);
    background: linear-gradient(to right, rgb(112, 191, 84) 0%, rgb(0, 174, 142) 100%);
}

@media (max-width: 999px) {
    .grad-pink {
        background: rgb(196, 17, 128);
        background: -moz-linear-gradient(left, rgb(196, 17, 128) 0%, rgb(146, 34, 134) 100%);
        background: -webkit-linear-gradient(left, rgb(196, 17, 128) 0%, rgb(146, 34, 134) 100%);
        background: linear-gradient(to right, rgb(196, 17, 128) 0%, rgb(146, 34, 134) 100%);
    }
}



.laranja {
    background-color: #f26313;
}

.rosa {
    background-color: #ed037c;
}

.petroleo {
    background-color: #12b4a7;
}

.amarelo {
    background-color: #f0e966;
}

.branca {
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

.none-color {
    border: 1px solid #dddddd;
    background-image: url('../images/none-color.jpg');
    background-size: 100%;
}

.bege {
    background-color: #e2dace;
}

.verde {
    background-color: #00816c;
}

.preta {
    background-color: #000;
}

.lima {
    background-color: #d7df23;
}

.palha {
    background-color: #f5e5bf;
}

.marrom {
    background-color: #8d3a16
}

.azul {
    background-color: #00659e
}

.prata {
    background: rgb(210,212,219);
    background: -moz-linear-gradient(-45deg, rgb(210,212,219) 0%, rgb(255,255,255) 30%, rgb(225,228,234) 69%, rgb(255,249,249) 100%);
    background: -webkit-linear-gradient(-45deg, rgb(210,212,219) 0%,rgb(255,255,255) 30%,rgb(225,228,234) 69%,rgb(255,249,249) 100%);
    background: linear-gradient(135deg, rgb(210,212,219) 0%,rgb(255,255,255) 30%,rgb(225,228,234) 69%,rgb(255,249,249) 100%);
}

header {
    position: fixed;
    width: 100%;
    z-index: 99;
    padding: 20px 0; /* NORMAL */

    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}

.header-container {
    position: relative;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}


header.smaller .logo img {
    width: 100px;
    height: auto;
}

header.smaller nav#nav-main ul {
    margin: 0;
}

#menu {
    position: relative;
}

#nav-trigger {
    display: none;
    text-align: center;
    position: absolute;
    top: 20px;
    right: 0;
}

header.smaller #nav-trigger {
    top: 5px;
}

#nav-trigger span {
    display: inline-block;
    font: 1.2em "plutolight", Lucida, Verdana, sans-serif;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
    opacity: 0.8;
}

.ham {
    fill: #ffffff;
}

#nav-trigger span:hover {
    opacity: 1;
}

nav#nav-main ul {
    list-style-type: none;
    margin: 10px 0 0;
    padding: 0;
    text-align: right;
}

nav#nav-main li {
    display: inline-block;
    margin: 0;
}

nav#nav-main a {
    display: block;
    font-family: "plutoregular", Lucida, Verdana, sans-serif;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 10px 8px;
    color: #ffffff;
    opacity: 0.8;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    transition: all 250ms ease;
}

nav#nav-main a:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    transition: all 250ms ease;
}

nav#nav-mobile {
    position: relative;
    display: none;
}

nav#nav-mobile ul {
    display: none;
    list-style-type: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
}

nav#nav-mobile li {
    display: inline-block;
    width: 48%;
    margin: 0;
}

nav#nav-mobile li:last-child {
    border-bottom: none;
}

nav#nav-mobile a {
    display: block;
    font: 1.2em "plutoregular", Lucida, Verdana, sans-serif;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 20px 10px;
    color: #ffffff;
    text-transform: uppercase;
}

nav#nav-mobile a:hover {
    color: #ffffff;
}

.logo img {
    width: 100%;
    max-width: 170px;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}

@media (min-width: 200px) {
    .header-container {
        width: 100%;
        padding: 0;
    }
    .logo img {
        margin-left: 10%;
    }
    #nav-trigger {
        right: 10%;
    }
}

@media (min-width: 1000px) {
    .header-container {
        width: 95%;
        padding: 0;
    }
}

.main {
    padding: 100px 0 0;
}

#banner {
    position: relative;
}

.img-banner img {
    display: block;
    width: 100%;
    height: auto;
}

.txt-banner {
    padding: 30px 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.txt-banner p {
    color: #39cabe;
    font: 2.5em "plutolight", Lucida, Verdana, sans-serif;
    margin: 0;
}

.txt-banner span {
    display: block;
    color: #12b4a7;
    font: 4em "plutobold", Lucida, Verdana, sans-serif;
    text-transform: uppercase;
}

.flor {
    position: absolute;
    width: 300px;
    right: 0;
    margin-top: -60px;
}

.flor img {
    display: block;
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 0 auto;
}

#intro {
    color: #ffffff;
    padding: 80px 0;
    margin-bottom: 100px;
}

#intro h1 {
    font: 4rem "plutothin", Lucida, Verdana, sans-serif;
}

#cerdas {
    padding: 0 0 100px;
}

.selo {
    display: block;
    width: 30%;
    margin: 0 auto 100px;
    text-align: center;
}

.img-selo {
    width: 130px;
    margin: 0 auto;
}

.img-selo img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.txt-selo h2 {
    font: 2.2em "plutolight", Lucida, Verdana, sans-serif;
    margin: 0;
}

.txt-selo p {
    font: 1.3em "plutolight", Lucida, Verdana, sans-serif;
}

.vassouras .row {
    width: 80%;
    max-width: 1170px;
    margin: 0 auto 30px;
}

.vassouras a:last-child .row, .rodos a:last-child .row {
    margin-bottom: 0;
}

.vassouras .center p {
    color: #ffffff;
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
}

.vassouras .mid {
    display: table;
    width: 100%;
}

.vassouras .mid .center {
    min-height: 130px;
    height: 130px;
    display: table-cell;
    vertical-align: middle;
}

.vassouras .mid .center img {
    vertical-align: middle;
    display: inline-block;
    width: 130px;
    height: auto;
}

.vassouras .mid .center span {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    padding-left: 25%;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}

.media .txt-selo h2 {
    color: #f26313;
}

.media .txt-selo p {
    color: #f08711;
}

.media .vassouras {
    background-color: #f1a45e;
}

.media .vassouras .row {
    background-color: #f5bb8d;
    color: #f26313;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}

.media .vassouras a:hover .row {
    background-color: #f4d2b6;
}

.media .vassouras .five {
    background-color: #f26313;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}

.media .vassouras a:hover .five {
    background-color: #ed7b3b;
}

.macia .txt-selo h2 {
    color: #ed037c;
}

.macia .txt-selo p {
    color: #eb4382;
}

.macia .vassouras {
    background-color: #f196bf;
}

.macia .vassouras .row {
    background-color: #f8b2cc;
    color: #ed037c;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}

.macia .vassouras a:hover .row {
    background-color: #f8cbdc;
}

.macia .vassouras .five {
    background-color: #ed037c;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}

.macia .vassouras a:hover .five {
    background-color: #f13998;
}

.dura .txt-selo h2 {
    color: #12b4a7;
}

.dura .txt-selo p {
    color: #39cabe;
}

.dura .vassouras {
    background-color: #8bd3c4;
}

.dura .vassouras .row {
    background-color: #bce3db;
    color: #12b4a7;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}

.dura .vassouras a:hover .row {
    background-color: #dcefeb;
}

.dura .vassouras .five {
    background-color: #12b4a7;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}

.dura .vassouras a:hover .five {
    background-color: #1accbe;
}

#cabo {
    padding: 0 0 80px;
}

#cabo .selo {
    margin: 0 auto 30px;
}

#cabo .txt-selo h2 {
    color: #6a2f8a;
}

#cabo .img-cabo img {
    display: block;
    width: 100%;
    height: auto;
}

#cabo .txt-cabo {
    width: 45%;
    margin: 0 auto;
    padding: 30px;
    color: #6a2f8a;
}

#contato {
    background-color: #12b4a7;
    color: #ffffff;
    padding: 100px 0;
}

#contato p {
    font: 3.5em "plutothin", Lucida, Verdana, sans-serif;
    margin: 0;
}

#contato span {
    font: 4.1em "plutobold", Lucida, Verdana, sans-serif;
    line-height: 100%;
}

#contato a {
    display: block;
    width: 200px;
    background-color:#ed037c;
    margin: 50px auto 0;
    padding: 20px 30px;
    color: rgba(255, 255, 255, 0.8);
    font-family: "plutobold", Lucida, Verdana, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}
#conheca {
    padding: 30px 0;
    color: #ffffff;
    position: relative;
}

#conheca span {
    display: block;
    margin-bottom: 30px;
    font: 2.5em "nevolight", Lucida, Verdana, sans-serif;
}

#conheca img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

footer {
    background-color: #ffffff;
    padding: 20px 0;
    font-size: 0.8em;
    font-weight: 400;
    text-align: left;
}

footer .up {
  text-align: right;
}

footer .up a {
  display: inline-block;
  vertical-align: middle;
  padding-top: 0.5rem;
}

footer .up svg {
  fill:#009cde;
  opacity: 0.4;
  float: right;
  width: 3rem;
  -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

footer .up svg:hover {
  opacity: 1;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

#conheca p a{
    color: #f4f4f4;

}
#conheca p{
    margin-bottom: 10px;
}
#conheca p a:hover{
    color: #fff;
    cursor: pointer;
}

.icon {
    display: inline-flex;
    position: relative;
		margin-right: 2rem;
		margin-bottom: 2rem;
}

.icon svg {
	fill: #ffffff;
  position: absolute;
}

.icon.face, .icon.face svg {
	height: 4.4rem;
	width: 2.2rem;
}

.icon.insta, .icon.insta svg {
	height: 4.4rem;
	width: 4.4rem;
}

footer img {
    display: block;
    height: auto;
    margin: 0 auto;
}

.logos-bettanin img{
    width: 100%;
    max-width: 300px;
}



#conheca p a{
    color: #f4f4f4;
    text-decoration: none;

}
#conheca p{
    margin-bottom: 10px;
}
#conheca p a:hover{
    color: #fff;
    cursor: pointer;
}

footer {
    background-color: #ffffff;
    padding: 20px 0;
    font-size: 0.8em;
    font-weight: 400;
    text-align: left;
}

#interna .img-banner {
    display: block;
    width: 400px;
    position: absolute;
    top: 0;
    right: 0;
}

#interna .txt-banner {
    padding: 150px 0;
    width: 60%;
    margin: 0 auto 0 0;
}

#interna #intro {
    margin-bottom: 0;
    padding: 50px 0;
}

#interna .selo-intro img {
    display: block;
    width: 100%;
    max-width: 130px;
    height: auto;
    margin: 0 auto;
}

#interna .txt-intro {
    padding-top: 15px;
}

#interna .txt-intro2 {
    padding-top: 45px;
}

#vassoura .img-vassoura img {
    display: block;
    width: 100%;
    height: auto;
}

#vassoura .four ul {
    margin: 0;
    list-style: none;
    padding-top: 100px;
}

#vassoura .four ul li {
    margin: 0 0 50px 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 2em;
    line-height: 100%;
    position: relative;
}

#vassoura .four ul li.arrow img {
    display: block;
    width: 60px;
    height: auto;
    position: absolute;
    margin-left: -70px;
}

#vassoura .four ul li p {
    font-family: "plutolight", Lucida, Verdana, sans-serif;
    color: #f08711;
    margin: 0;
}

#vassoura .four ul li span {
    font-family: "plutobold", Lucida, Verdana, sans-serif;
    color: #f26313;
}

#vassoura .selos-vassoura img {
    display: inline-block;
    width: 100px;
    height: auto;
    margin-right: 20px;
}
#vassoura .selos-max-protect img {
    display: inline-block;
    width: 100px;
    height: auto;
    margin-right: 20px;
}

#vassoura .esp {
    padding-top: 40px;
}

#vassoura .dimensoes,
#vassoura .cores,
#vassoura .pisos {
    color: #f26313;
    margin-bottom: 50px;
}

#vassoura .dimensoes span,
#vassoura .cores span,
#vassoura .pisos span {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
}

#vassoura .dimensoes p {
    margin: 0;
}

#vassoura .cores ul,
#vassoura .pisos ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#vassoura .cores ul li {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 0 10px 0 0;
}

#vassoura .pisos ul li {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 0 10px 0 0;
    position: relative;
}

#vassoura .pisos ul li img {
    display: block;
    width: 100%;
    height: auto;
}

#vassoura .pisos .tooltip {
    display: block;
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    font-size: 0.8em;
    text-align: center;
    line-height: 60px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}

#vassoura .pisos ul li:hover .tooltip {
    opacity: 1;
}

#similares {
    padding: 100px 0;
}

#similares p {
    color: #39cabe;
    font: 2.5em "plutolight", Lucida, Verdana, sans-serif;
    margin: 0;
}

#similares span {
    display: block;
    color: #12b4a7;
    font: 4em "plutobold", Lucida, Verdana, sans-serif;
    text-transform: uppercase;
    margin-bottom: 30px;
}

#similares a {
    text-decoration: none;
}

#similares .img-similares {
    height: 270px;
    border: 1px solid #bee0dd;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}

#similares img {
    display: block;
    width: auto;
    height: 100%;
    margin: 0 auto;
}

#similares .four p {
    color: #12b4a7;
    font: 1.6em "plutolight", Lucida, Verdana, sans-serif;
    text-align: center;
    margin: 10px 0 0;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}

#similares a:hover .img-similares {
    border: 1px solid #ed037c;
}

#similares a:hover p {
    color: #ed037c;
}

.limpeza-tipo p {
    display: block;
	font: 1.4em/5em "nevoregular", Lucida, Verdana, sans-serif;
	text-align: center;
	color: #5f5f5f;
	margin: 0;
}

@media (min-width: 1441px) {
    .ponteira {
    margin-top: 29vw;
     z-index: 999;
    position: relative;

    }
    .desk {
        display: block;
    }
    .mob{
        display: none;
    }

}

@media (max-width: 1440px) {
    .ponteira {
    margin-top: 22vw;
     z-index: 1;
    position: relative;
    }
     .desk {
        display: block;
    }
    .mob{
        display: none;
    }
}
@media (max-width: 999px) {
     .desk {
        display: none;
    }
    .mob{
        display: block;
    }

    .ponteira {
    margin-top: -25vw;
    margin-bottom: 0 !important;
     z-index: 1;
    position: relative;
    }
    #banner-home .call-to-action a {
        margin-bottom: 0;
    }
    #sobre .banner {
      background-size: cover;
      min-height: 24rem;
      background-position: 22%;
    }
    #sobre .banner h1 {
      font-size: 1.6rem;
      padding-top: 3rem;
    }
    #sobre .banner h1 strong {
      font-size: 3rem;
    }
    #sobre .video {
      padding: 4rem 0;
    }
    .video, .video p {
      text-align: center;
    }
    .video .txt {
      padding: 0;
    }
    .video .assista {
      margin-bottom: 4rem;
    }
    .video .assista p {
      font-size: 2rem;
    }
    .video .assista p span {
      font-size: 1rem;
    }

		footer .up {
			text-align: center;
		}

		footer .up a {
			padding-top: 2rem;
			padding-bottom: 2rem;
		}

		footer .up svg {
		  opacity: 1;
		}
}
@media (max-width: 1280px) {
    .selo {
        width: 55%;
        margin-bottom: 80px;
    }
}

@media (max-width: 1100px) {
    #similares .img-similares {
        height: 210px;
    }
}

@media (max-width: 999px) {
    #nav-trigger {
        display: block;
    }
    nav#nav-main {
        display: none;
    }
    nav#nav-mobile {
        display: block;
    }
    .expanded {
        background: rgb(196, 17, 128);
        background: -moz-linear-gradient(left, rgb(196, 17, 128) 0%, rgb(146, 34, 134) 100%);
        background: -webkit-linear-gradient(left, rgb(196, 17, 128) 0%, rgb(146, 34, 134) 100%);
        background: linear-gradient(to right, rgb(196, 17, 128) 0%, rgb(146, 34, 134) 100%);
        -webkit-box-shadow: 0 25px 40px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 25px 40px 0 rgba(0, 0, 0, 0.2);
    }
    .txt-banner {
        padding: 50px 0;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .txt-banner span,
    #similares span {
        font-size: 3em;
    }
    .flor {
        position: absolute;
        width: 100px;
        right: 50%;
        margin-right: -50px;
        margin-top: -50px;
    }
    #intro {
        padding: 50px 0;
    }
    #intro h1 {
        font: 4rem "plutoextralight", Lucida, Verdana, sans-serif;
    }
    .selo {
        width: 100%;
        margin-bottom: 50px;
    }
    .vassouras .mid .center span {
        padding-left: 15%;
    }
    #cabo .txt-cabo {
        width: 100%;
        padding: 30px 0 0;
    }
    #interna .img-banner {
        display: block;
        width: 320px;
        position: relative;
        margin: 0 auto;
    }
    #interna .txt-banner {
        padding: 30px 0 100px;
        width: 100%;
    }
    #interna .selo-intro {
        position: absolute;
        width: 100px;
        left: 50%;
        margin-left: -50px;
        margin-top: -100px;
    }
    #vassoura .four ul li {
        font-size: 1.9em;
    }
    #similares .img-similares {
        height: 190px;
    }
    #similares .four p {
        margin: 10px 0 30px;
    }
    #contato p {
        font-size: 3em;
    }
    #contato span {
        font-size: 3.8em;
    }
    footer {
        text-align: center;
    }
    footer img {
        display: block;
        width: 100%;
        max-width: 200px;
        height: auto;
        margin: 20px auto 0;
    }
		#conheca .three.columns {
			width: 32%;
			display: inline-block;
			margin-right: 2%;
			float: left;
		}
		#conheca .three.columns:nth-child(3) {
			margin-right: 0;
		}
		#conheca .three.columns:last-child {
			width: 100%;
		}
}

@media (max-width: 450px) {
    .txt-banner span,
    #similares span {
        font-size: 2.5em;
    }
    #interna .img-banner {
        width: 280px;
    }
    #intro h1 {
        font-size: 3.5em;
    }
    #vassoura .four ul li {
        font-size: 1.6em;
    }
    #contato p {
        font: 2.5em "plutoextralight", Lucida, Verdana, sans-serif;
    }
    #contato span {
        font-size: 3.2em;
    }
    #conheca .three.columns {
      width: 100%;
      margin: 0;
    }
}


/* ################################################################################################################################################# */


/* ############################################          STYLE NOVIçA HOME         ################################################################# */


/* ################################################################################################################################################# */

#banner-home {
  z-index: 0;
  position: relative;
}

#banner-home .absolute img {
    margin-bottom: -7px;
    width: 100%;
}

#banner-home .text-banner {
    position: absolute;
    margin-top: 200px;
}

#banner-home .text-banner,
#banner-home .text-banner p {
    float: right;
    text-align: right;
}

#banner-home .call-to-action a {
    background-color: #ec008c;
    color: rgba(255, 255, 255, 0.7);
    float: right;
    display: block;
    width: 200px;
    margin: 50px auto 0;
    padding: 20px 30px;
    font-family: "plutobold", Lucida, Verdana, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}

#banner-home .call-to-action a:hover {
    background-color: #ff0988;
    color: rgba(255, 255, 255, 1);
}

#banner-home h3 {
    font-family: 'plutoextralight';
    font-size: 2.5em;
    margin-bottom: -1px;
    margin-bottom: 50px;
    color: #ffffff;
}

#banner-home .text-intro {
    font-family: 'Roboto';
    margin-top: 40px;
    padding-bottom: 50px;
}

#banner-home h2 {
    font-family: 'plutoregular';
    font-size: 5.5em;
    margin-bottom: -1px;
    color: #ffffff;
}

.intro h2 {
    font-family: 'plutolight';
    font-size: 3.5em;
}

.intro-plus h2 {
    font-family: 'plutolight';
    font-size: 3.5em;
}

.call-to-action a {
    display: block;
    margin-top: 150px;
    margin: 0;
    padding: 20px 30px;
    font-family: "plutobold", Lucida, Verdana, sans-serif;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.call-to-action a:hover {
    background-color: #ff0988;
    color: rgba(255, 255, 255, 1);
}


/* Vassouras */


/* Vassouras */


/* Vassouras */


/* Vassouras */

#vassouras-intro {
    color: #ffffff;
}

#vassouras-intro .absolute img {
    position: absolute;
    right: 0;
    width: 100%;
    max-width: 904px;
}

#vassouras-intro h3 {
    font-family: 'plutothin';
    font-size: 2.2em;
    margin-bottom: -1px;
}

.text-intro {
    font-family: 'Roboto';
}

#vassouras-intro .call-to-action a:hover {
    background-color: #00cba6;
}


/* Rodos */


/* Rodos */


/* Rodos */


/* Rodos */


/* Rodos */


/* Rodos */

#rodos-intro {
    color: #ffffff;
}

#rodos-intro img {}

#rodos-intro .absolute img {
    position: absolute;
    width: 100%;
}

.slider-produtos .radius {
  width: 122px;
  height: 122px;
  background: #ffffff;
  border-radius: 1000px;
  overflow: hidden;
}

.slider-produtos .radius img {
  width: 80%;
  top:0;
  height: auto;
  margin: 0 auto;
}

#rodos-intro h3 {
    font-family: 'plutothin';
    font-size: 2.2em;
    margin-bottom: -1px;
}

#rodos-intro .text-banner {
    margin-top: 100px;
    text-align: right;
    float: right;
}

#rodos-intro .call-to-action a {
    background-color: #00ae8e;
    float: right;
}

#rodos-intro .call-to-action a:hover {
    background-color: #00cba6;
}


/* Pás */


/* Pás */


/* Pás */


/* Pás */


/* Pás */


/* Pás */


/* Pás */

#pas-intro {
    color: #00ae8e;
    height: auto;
    background-color: #ffffff;
    position: relative;
    z-index: 2;
}

#pas-intro .absolute img {
    position: absolute;
    right: 0;
    width: 100%;
    max-width: 700px;
    overflow: hidden;
}

#pas-intro h3 {
    font-family: 'plutoextralight';
    font-size: 2.2em;
    margin-bottom: -1px;
}

#pas-intro .text-banner {
    margin-top: 200px;
}

#pas-intro .call-to-action a {
    margin-top: 100px;
    background-color: #ec008c;
}

#pas-intro .call-to-action a:hover {
    background-color: #ff0988;
}

#pas-intro .text-intro {
    font-family: 'Roboto';
}


/* escovas */


/* escovas */


/* escovas */


/* escovas */


/* escovas */

#escovas-intro {
    color: #ffffff;
}

#escovas-intro .absolute img {
    position: absolute;
    margin-top: 100px;
    width: 100%;
    max-width: 850px;
}

#escovas-intro h3 {
    font-family: 'plutoextralight';
    font-size: 2.2em;
    margin-bottom: -1px;
}

#escovas-intro .text-banner {
    margin-top: 200px;
    text-align: right;
    float: right;
}

#escovas-intro .call-to-action a {
    background-color: #ec008c;
    display: block;
    float: right;
}

#escovas-intro .call-to-action a:hover {
    background-color: #ff0988;
}

#escovas-intro .text-intro {
    font-family: 'Roboto';
}

#escovas-intro .slider-produtos {
    margin-top: 100px;
    float: right;
}


/* acessorios */

#acessorios-intro {
    color: #00ae8e;
    height: auto;
    background-color: #ffffff;
    position: relative;
    z-index: 2;
}

#acessorios-intro .absolute img {
    position: absolute;
    right: 0;
    width: 100%;
    max-width: 700px;
    overflow: hidden;
}

#acessorios-intro h3 {
    font-family: 'plutoextralight';
    font-size: 2.2em;
    margin-bottom: -1px;
}

#acessorios-intro .text-banner {
    margin-top: 200px;
}

#acessorios-intro .call-to-action a {
    margin-top: 150px;
    background-color: #ec008c;
    color: #ffffff;
}

#acessorios-intro .call-to-action a:hover {
    background-color: #ff0988;
}

#acessorios-intro .text-intro {
    font-family: 'Roboto';
}




/* mops */

#mop-intro {
    color: #ffffff;
    text-align: right;
    position: relative;
}

#mop-intro .absolute img {
    position: absolute;
    right: 0;
    width: 100%;
}

#mop-intro h3 {
    font-family: 'plutothin';
    font-size: 2.2em;
    margin-bottom: -1px;
}

#mop-intro .text-banner {
    margin-top: 140px;
}

#mop-intro .text-banner .text-intro {
    margin-bottom: 80px;
}

#mop-intro .call-to-action a {
    background-color: #00ae8e;
    float: right;
    margin-bottom: 45px;
}

#mop-intro .call-to-action a:hover {
    background-color: #00cba6;
}


/* slider produtos  */

#rodos-intro .slider-produtos {
    color: #ffffff;
    margin-bottom: 100px;
    float: right;
    text-align: right;
    margin-top: 80px;
}

#mops-intro .slider-produtos {
    color: #ffffff;
    float: right;
    text-align: right;
    margin-top: 80px;
}

#pas-intro .slider-produtos,
#acessorios-intro .slider-produtos {
    margin-top: 80px;
}

#mop-intro .slider-produtos {
    margin-top: 105px;
    float: right;
}

#mop-intro .slider-produtos {
    margin-bottom: 0;
}

#mop-intro .slider-produtos p {
    color: #ffffff;
}

#mop-intro .slider-produtos {
    margin-top: 50px;
    margin-bottom: 50px;
}

.slider-produtos {
    width: 400px;
    margin-bottom: 100px;
}

.slick-slide img {
    width: 100%;
}

.slick-dots {
    padding-bottom: 10px;
}


/* contato relativo */

.relative {
    position: relative;
}


/* CATEGORIAS */

#listagem {
    padding: 0 0 100px
}

.tipo .rodos {
    background-color: #8bd3c4;
}

.tipo .rodos .five {
    background-color: #12b4a7;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}

.tipo .rodos a:hover .row {
    background-color: #dcefeb;
}

.tipo .rodos .row {
    background-color: #bce3db;
    color: #12b4a7;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}

.rodos .row {
    width: 80%;
    max-width: 1170px;
    margin: 0 auto 30px;
}

.rodos:last-child {
    margin-bottom: 0;
}

.rodos .center p {
    color: #ffffff;
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
}

.rodos .mid {
    display: table;
    width: 100%;
}

.rodos .mid .center {
    min-height: 130px;
    height: 130px;
    display: table-cell;
    vertical-align: middle;
}

.rodos .mid .center img {
    vertical-align: middle;
    display: inline-block;
    width: 130px;
    height: auto;
}

.rodos .mid .center span {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    padding-left: 25%;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}

.tipo .rodos a:hover .five {
    background-color: #1accbe;
}

.tipo .txt-selo h2 {
    color: #1accbe;
}

.tipo .txt-selo p {
    color: #12b4a7;
}

.cor-categoria2.txt-selo h2 {
    color: #f26313;
}

.cor-categoria2 .txt-selo p {
    color: #f08711;
}

.cor-categoria3.txt-selo h2 {
    color: #f26313;
}

.cor-categoria3 .txt-selo p {
    color: #f08711;
}

.limpeza-tipo {
    background-color: #dddddd;
    text-align: center;
    margin: 0 auto;
}

.limpeza-tipo img {
    text-align: center;
    margin: 0 auto;
    width: 120px;
}

.vassouras .no-margin {
    margin: 0 auto;
}


/* INTERNAS */

p.ref {
    padding-top: 10px;
}

span.ref {
    margin-top: 20px;
}

.center-pas {
    text-align: center;
}

.selo-mop {
    margin-top: 20px;
}

.selo-mop img {
    width: 100%;
    max-width: 100px;
    margin-right: 25px;
    margin-top: 10px;
}

.selo-mop2 img {
    width: 100%;
    max-width: 75px;
    margin-top: 10px;
}

#vassoura .mop ul {
    padding-top: 40px;
}

@media (min-width: 1000px) and (max-width: 1185px) {
    .frame-produtos {
        width: 100%;
        position: relative;
        z-index: 3;
        background-color: #00ae8e;
    }
    .frame-produtos .slider-produtos {
        padding: 20px;
        float: right;
        color: #ffffff;
        text-align: right;
        margin-bottom: 0;
    }
    #rodos-intro .slider-produtos {
        margin-bottom: 0;
    }
    #rodos-intro .slider-produtos p {
        color: #ffffff;
    }
    #rodos-intro .slider-produtos {
        margin-top: 0;
    }
    #rodos-intro .text-banner {
        margin-bottom: 100px
    }
    #mop-intro .slider-produtos {
        margin-bottom: 0;
    }
    #mop-intro .slider-produtos p {
        color: #ffffff;
    }
    #mop-intro .slider-produtos {
        margin-top: 0;
    }
}

@media (max-width: 1439px) {
    .intro h2,
    .intro-plus h2 {
        font-size: 2.5em;
    }
    #rodos-intro h3,
    #vassouras-intro h3,
    #escovas-intro h3,
    #mop-intro h3,
    #acessorios-intro h3,
    #pas-intro h3,
    #banner-home h3 {
        font-size: 1.5em;
    }
    #escovas-intro .absolute img {
        left: -200px;
    }
    #vassouras-intro {
        padding-bottom: 100px;
    }
    #rodos-intro .text-banner,
    #mop-intro .text-banner {
        margin-top: 100px;
        float: right;
        text-align: right;
        padding-bottom: 0;
    }
    #mop-intro .call-to-action a {
        background-color: #00ae8e;
        color: #ffffff;
        float: right;
    }
    #vassouras-intro .absolute img {
        position: absolute;
        width: 100%;
        max-width: 904px;
    }
    @media (max-width: 1280px) {
        #vassouras-intro .absolute img {
            position: absolute;
            width: 100%;
            max-width: 904px;
        }
        // #banner-home .call-to-action a {
        //     margin-top: 0;
        //     margin-bottom: 50px;
        // }
        // #banner-home .text-banner {
        //     position: absolute;
        //     margin-top: 100px;
        // }
    }
    @media (max-width: 999px) {
        .intro h2,
        .intro-plus h2 {
            font-size: 2.5em;
        }
        #rodos-intro .frame-produtos .slider-produtos {
            color: #ffffff;
            text-align: center;
            width: 100%;
        }
        #banner-home h2 {
            font-family: 'plutoregular';
            font-size: 3.5em;
            margin-bottom: -1px;
            color: #00ae8e;
        }
        .selo-mop, .selo-mop2 {
            text-align: center;
            margin: 0 auto;
        }
        #banner-home h3 {
            color: #00ae8e;
        }
        .intro .call-to-action a {
          margin: 0;
        }
        #banner-home .text-banner,
        #vassouras-intro .text-banner,
        #rodos-intro .text-banner,
        #escovas-intro .text-banner,
        #mop-intro .text-banner {
            margin-top: 100px;
            text-align: center;
            margin-bottom: 0;
        }
        #vassouras-intro {
            padding-bottom: 0;
        }
        #pas-intro .text-banner {
            margin-top: 100px;
            text-align: center;
        }
        #escovas-intro .text-banner {
            text-align: center;
            margin-top: 0;
        }
        #rodos-intro .text-banner {
            text-align: center;
        }
        #escovas-intro .call-to-action a {
            margin-top: 40px;
            float: none;
        }
        #pas-intro .call-to-action a,
        #rodos-intro .call-to-action a,
        #acessorios-intro .call-to-action a,
        #mop-intro .call-to-action a,
        #banner-home .call-to-action a {
            margin: 0 auto;
            float: none;
        }
        #banner-home .call-to-action a {
            margin-bottom: 100px;
        }
        #vassouras-intro .absolute {
            text-align: center;
        }
        #vassouras-intro .absolute img {
            max-width: 400px;
            position: inherit;
            text-align: center;
        }
        #pas-intro .absolute {
            text-align: center;
        }
        #pas-intro .absolute img {
            max-width: 400px;
            position: inherit;
            text-align: center;
        }
        #banner-home {
            background-color: #ffffff;
            padding-top: 10px;
          /* padding-top: 60px; NOVIÇA RIO*/

        }
        #banner-home .text-banner p {
            text-align: center;
        }
        #banner-home .text-banner {
            position: inherit;
            text-align: center;
        }
        #escovas-intro .absolute {
            text-align: center;
        }
        #escovas-intro .absolute img {
            max-width: 400px;
            position: inherit;
            text-align: center;
        }
        #acessorios-intro .absolute {
            text-align: center;
        }
        #acessorios-intro .absolute img {
            max-width: 300px;
            position: inherit;
            text-align: center;
        }
        #mop-intro .absolute img {
            position: inherit;
        }
        #rodos-intro .absolute img {
            position: inherit;
        }
        .slider-produtos {
            text-align: center;
        }
        .slick-slide img {
            margin: 0 auto;
        }
         #banner-home .text-banner {
            margin-top: 30px;
        }

/* novica rio
.button-rio {
    margin-left:0;

}*/




    }


    @media (max-width: 399px) {
        .intro h2,
        .intro-plus h2 {
            font-size: 2.5em;
        }
        #banner-home h2 {
            font-family: 'plutoregular';
            font-size: 3em;
            margin-bottom: -1px;
            color: #00ae8e;
        }


        .slider-produtos {
            text-align: center;
        }
        .slick-slide img {
            margin: 0 auto;
        }
        .selo-mop img {
            width: 100%;
            max-width: 70px;
            margin-right: 25px;
            margin-top: 10px;
        }

    }
